
*{
  box-sizing: border-box;
   margin: 0;
 }
 body {
  height: 100vh;
 }
 
 /* h3, p{
   color:#ecede6;
   text-shadow: 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black;
 
 } */

 .lol {
    background-color: #fbe3e8;
 }

 .nav-link {
  font-size: 25px;
  color: aquamarine;
 }

 .me-auto {
  color: aqua;
 }

 /* .header {
  color: aquamarine;
 } */
