
*{
  box-sizing: border-box;
   margin: 0;
 }
 body {
  height: 100vh;
 }

 .lol {
  background-image: url("vataip2.jpg");
  background-color: #cccccc;
  background-repeat: no-repeat, repeat;
  background-position: center;
  background-size: cover;
 }

 .nav-link {
  font-size: 25px;
  color: aquamarine;
 }

 .me-auto {
  color: aqua;
 }
